<% content_for :header do -%>
	 <%= configatron.site_name %>
<% end -%>

<% content_for :sidebar do -%>
	<h2>Links</h2>
	
	<ul>
		<li><a href="/signup">Sign up for an account</a></li>
		<li><a href="#">Take a Tour</a></li>
		<li><a href="/dashboard/faqs">F.A.Qs</a></li>
		<li><a href="/dashboard/comments">Comments</a></li>
	</ul>
		
	<ul>
		<li><a href="http://rubyglass.heroku.com">Development Blog</a></li>
	</ul>
		
<% end -%>

<h1>
Frequently Asked Questions:
</h1>
Q.How much does RubyGrade cost?<br />
A. RubyGrade is free. It is a non-profit operation made using open source software.<br />
Q. Why the name RubyGrade?<br />
A. Because it is programmed in the ruby programming language.<br />

