<% content_for :header do -%>
	 <%= configatron.site_name %>
<% end -%>

<% content_for :sidebar do -%>
	<h2>Links</h2>
	
	<ul>
		<li><a href="/signup">Sign up for an account</a></li>
		<li><a href="#">Take a Tour</a></li>
		<li><a href="/dashboard/faqs">F.A.Qs</a></li>
		<li><a href="/dashboard/comments">Comments</a></li>
	</ul>
		
	<ul>
		<li><a href="http://rubyglass.heroku.com">Development Blog</a></li>
	</ul>
		
<% end -%>

<h1>
Frequently Asked Questions:
</h1>
Q.How much does RubyGrade cost?<br />
A. RubyGrade is free. It is a non-profit operation made using open source software.(Ruby on Rails)<br />
<br>
Q. Why the name RubyGrade?<br />
A. Because it is programmed in the ruby programming language.<br />
<br>
Q. Why is RubyGrade sometimes a bit slow?<br />
A. Because it is a non-profit operation RubyGrade runs on a shared hosting plan,<br />  which means that it shares bandwidth with other sites on the server.<br />

