<% content_for :header do -%>
	 <%= configatron.site_name %>
<% end -%>

<% content_for :sidebar do -%>
	<h2>Links</h2>
	
	<ul>
		<li><a href="/signup">Sign up for an account</a></li>
		<li><a href="/dashboard/info">More info</a></li>
		<li><a href="/dashboard/faqs">F.A.Qs</a></li>
		<li><a href="/dashboard/comments">Comments</a></li>
	</ul>
		
	<ul>
		<li><a href="http://rubyglass.heroku.com">Development Blog</a></li>
	</ul>
		
<% end -%>

<p>
  The goal of <b>RubyGrade</b> is to provide an opensource online gradebook system similar to <A href="http://www.engrade.com"> Engrade </A> and <A href="http://www.chalksite.com"> Chalksite </A>.<br />
  RubyGrade enables teachers to keep track of students' grades and attendance records.<br />

  The main difference being that <b>RubyGrade</b> is open source, free to use, and can be downloaded to run on a local server.
 

<p>
Possible features for future development are as follows:<br />
Extending the app to produce graphs or charts;<br />
Extending the app to provide student/parent access & the ability to upload assignments/coursework;<br />
Integrating the app into a current open source LMS ie. Moodle;<br />
Extending the app to include student information records & produce reports.<br />
If you have any suggestions or wish to become involved in the project,<br /> please feel free to get in contact using the "Comments" link.
</p>

     
<b> RubyGrade</b>, is an open source online gradebook released under: <A href="http://opensource.org/licenses/mit-license.html">MIT License</A> 


