<% content_for :header do -%>
Comments
<% end -%>

<% content_for :sidebar do -%>
	<h2>Links</h2>
	
	<ul>
		<li><a href="/signup">Sign up for an account</a></li>
		<li><a href="/dashboard/info">More info</a></li>
		<li><a href="/dashboard/faqs">F.A.Qs</a></li>
		<li><a href="/dashboard/comments">Comments</a></li>
	</ul>
		
	<ul>
		<li><a href="http://rubyglass.heroku.com">Development Blog</a></li>
	</ul>
		
<% end -%>
<div id="leftfixed">
<p>
  <h2> 
    What features does RubyGrade include?</h2>

  <p> RubyGrade enables teachers to keep track of students' grades and attendance data either on the web, a single computer, or a local school network.
    It was created by a teacher, with the aim of providing teachers within his dept. to be able to track and analyse students' performance within year groups.
    Click on the link below for some screenshots: 
    
<a href="/images/ShowGrades.png" rel='facebox'>Show Grades</a>
</p>
</div>
